<a href="https://colab.research.google.com/github/dsreliete/Womakerscode-DA-desafio_squad/blob/main/Desafio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
### bibliotecas para visualizacao de dados
import seaborn as sns
import matplotlib.pyplot as plt
### bibliotecas para estatística
import scipy.stats as stat
### pacote com visualizacoes de dados faltantes
import missingno as msno

In [100]:
url = 'https://raw.githubusercontent.com/dsreliete/Womakerscode-DA-desafio_squad/main/StudentsPerformance.csv'

df= pd.read_csv(url)
df_students = df.copy()
df_students.head(50)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82

In [101]:
# 1. Leia a base de dados e faça uma análise inicial, como por exemplo, verificar o tamanho da base de dados (quantidade de linhas e colunas) e o tipo das variáveis.

df_students.shape
print(f'A base de dados possui {df_students.shape[0]} linhas e {df_students.shape[1]} colunas.')

print(f'Os tipos das variáveis são: \n{df_students.dtypes}')
print('As variáveis reading score, writing score e math score são numéricas e gender, race, parental level education, lunch, test preparation course são variáveis categóricas')

A base de dados possui 1000 linhas e 8 colunas.
Os tipos das variáveis são:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object
As variáveis reading score, writing score e math score são numéricas e gender, race, parental level education, lunch, test preparation course são variáveis categóricas

In [99]:
# 2. Alguma variável precisa ser alterada ou criada? Faça as alterações se julgar necessária.

# df_students.rename(columns={'gender':'gênero', 'race/ethnicity':'raça/etnicidade', 'lunch':'almoço', 'parental level of education': 'nível de educação parental', 'test preparation course': 'teste do curso de preparação', 'math score':'notas de matemática',	'reading score':'notas de leitura', 'writing score':'notas de redação'}, inplace=True)

df_new = df_students[df_students['teste do curso de preparação'] != 'none']
df_new

,gênero,raça/etnicidade,nível de educação parental,almoço,teste do curso de preparação,notas de matemática,notas de leitura,notas de redação
1,female,group C,some college,standard,completed,69,90,88
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
13,male,group A,some college,standard,completed,78,72,70
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77

In [124]:
# 3. Verifique a quantidade de alunos em cada grupo racial/étnico.

df_students.groupby(['race/ethnicity', 'gender'])['lunch'].count()
df_students.groupby(['race/ethnicity', 'gender', 'lunch'])['parental level of education'].count()
df_students.groupby(['race/ethnicity', 'gender', 'parental level of education'])['lunch'].count()
df_students.groupby(['race/ethnicity', 'gender', 'parental level of education', 'lunch', 'test preparation course'])['math score'].count()
df_students.groupby(['race/ethnicity', 'gender', 'parental level of education', 'lunch', 'test preparation course'])[['math score', 'reading score', 'writing score']].agg(['mean', 'std'])
df_students.groupby(['race/ethnicity', 'gender', 'parental level of education', 'lunch', 'test preparation course'])[['math score', 'reading score', 'writing score']].agg(['mean', 'median'])
df_students.value_counts('race/ethnicity')

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [126]:
# 4. Qual a quantidade de alunos de cada gênero? Existem mais alunos do
# gênero masculino ou feminino?

df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])[['math score', 'reading score', 'writing score']].agg(['mean', 'std'])
df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])[['math score', 'reading score', 'writing score']].agg(['mean', 'median'])
df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'test preparation course', 'lunch'])['math score'].count()
df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'test preparation course'])['lunch'].count()
df_students.groupby(['gender', 'race/ethnicity', 'parental level of education'])['lunch'].count()
df_students.groupby(['gender', 'race/ethnicity'])['lunch'].count()
df_students.groupby('gender')['lunch'].count()

                                                                                       math score  \
                                                                                             mean
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                     47.666667
                                                  standard     completed                60.000000
                                                               none                     82.000000
                      bachelor's degree           standard     none                     51.666667
                      high school                 free/reduced completed                54.666667
...                                                                                           ...
male   group E        some college                standard     completed                87.250000
                                                               none                     73.750000
                      some high school            free/reduced completed                75.500000
                                                  standard     completed                79.333333
                                                               none                     74.500000

                                                                                                   \
                                                                                              std
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                     15.143756
                                                  standard     completed                 7.071068
                                                               none                           NaN
                      bachelor's degree           standard     none                      7.023769
                      high school                 free/reduced completed                21.548395
...                                                                                           ...
male   group E        some college                standard     completed                 8.015610
                                                               none                     12.388594
                      some high school            free/reduced completed                 3.535534
                                                  standard     completed                 7.966597
                                                               none                     30.127507

                                                                                       reading score  \
                                                                                                mean
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                        64.333333
                                                  standard     completed                   67.500000
                                                               none                        93.000000
                      bachelor's degree           standard     none                        60.000000
                      high school                 free/reduced completed                   62.000000
...                                                                                              ...
male   group E        some college                standard     completed                   79.750000
                                                               none                        67.750000
                      some high school            free/reduced completed                   75.000000
                                                  standard     completed                   72.333333
                                                               none                        67.000000

                                                                                                   \
                                                                                              std
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                     18.147543
                                                  standard     completed                 3.535534
                                                               none                           NaN
                      bachelor's degree           standard     none                     11.532563
                      high school                 free/reduced completed                22.538855
...                                                                                           ...
male   group E        some college                standard     completed                 6.291529
                                                               none                     11.209777
                      some high school            free/reduced completed                11.313708
                                                  standard     completed                12.785408
                                                               none                     28.994252

                                                                                       writing score  \
                                                                                                mean
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                        60.000000
                                                  standard     completed                   68.000000
                                                               none                        93.000000
                      bachelor's degree           standard     none                        61.666667
                      high school                 free/reduced completed                   62.000000
...                                                                                              ...
male   group E        some college                standard     completed                   74.500000
                                                               none                        63.333333
                      some high school            free/reduced completed                   69.500000
                                                  standard     completed                   70.500000
                                                               none                        59.750000


                                                                                              std
gender race/ethnicity parental level of education lunch        test preparation course
female group A        associate's degree          free/reduced none                     14.422205
                                                  standard     completed                 8.485281
                                                               none                           NaN
                      bachelor's degree           standard     none                      9.712535
                      high school                 free/reduced completed                22.068076
...                                                                                           ...
male   group E        some college                standard     completed                 6.027714
                                                               none                     12.017664
                      some high school            free/reduced completed                14.849242
                                                  standard     completed                 9.354143
                                                               none                     26.411803

[211 rows x 6 columns]

In [137]:
# 5. Analise as notas de matemática dos alunos de forma mais completa
# possível.

q1_math, q3_math = df_students['math score'].quantile([0.25, 0.75])
iqr_math = q3_math - q1_math

q1_math, q3_math, iqr_math

limite_inferior_math = q1_math - 1.5 * iqr_math
limite_superior_math = q3_math + 1.5 * iqr_math

print(f'O primeiro quartil das notas de Matemática é {q1_math}')
print(f'O terceiro quartil das notas de Matemática é {q3_math}')
print(f'O limite inferior das notas de Matemática é {limite_inferior_math}')
print(f'O limite superior das notas de Matemática é {limite_superior_math}')

df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])[['math score']].agg(['mean', 'std'])
df_students.groupby(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])[['math score']].agg(['mean', 'median'])

df_students['math score'].agg(['mean', 'std', 'median'])

O primeiro quartil das notas de Matemática é 57.0
O terceiro quartil das notas de Matemática é 77.0
O limite inferior das notas de Matemática é 27.0
O limite superior das notas de Matemática é 107.0

mean      66.08900
std       15.16308
median    66.00000
Name: math score, dtype: float64

In [138]:
# Exercícios extras

q1_read, q3_read = df_students['reading score'].quantile([0.25, 0.75])
iqr_read = q3_read - q1_read

q1_read, q3_read, iqr_read

limite_inferior_read = q1_read - 1.5 * iqr_read
limite_superior_read = q3_read + 1.5 * iqr_read

print(f'O primeiro quartil das notas de Leitura é {q1_read}')
print(f'O terceiro quartil das notas de Leitura é {q3_read}')
print(f'O limite inferior das notas de Leitura é {limite_inferior_read}')
print(f'O limite superior das notas de Leitura é {limite_superior_read}')

q1_write, q3_write = df_students['writing score'].quantile([0.25, 0.75])
iqr_write = q3_write - q1_write

q1_write, q3_write, iqr_write

limite_inferior_write = q1_write - 1.5 * iqr_write
limite_superior_write = q3_write + 1.5 * iqr_write

print(f'O primeiro quartil das notas de Redação é {q1_write}')
print(f'O terceiro quartil das notas de Redação é {q3_write}')
print(f'O limite inferior das notas de Redação é {limite_inferior_write}')
print(f'O limite superior das notas de Redação é {limite_superior_write}')

O primeiro quartil das notas de Leitura é 59.0
O terceiro quartil das notas de Leitura é 79.0
O limite inferior das notas de Leitura é 29.0
O limite superior das notas de Leitura é 109.0
O primeiro quartil das notas de Redação é 57.75
O terceiro quartil das notas de Redação é 79.0
O limite inferior das notas de Redação é 25.875
O limite superior das notas de Redação é 110.875